<div class="container">

  <div class="content">

    <div class="form-holder">

      <div data-login-form class="form-login">

        <h1>{{ 'customer.login.title' | t }}</h1>

        <div class="form-header">
          <span>{{ 'layout.customer.log_in' | t }}</span>
          <a href="/account/register">
            {{ 'layout.customer.create_account' | t }}
          </a>
        </div>

        <div class="form-success hide" data-reset-success>
          {{ 'customer.recover_password.success' | t }}
        </div>

        {% form 'customer_login' %}

        {{ form.errors | default_errors }}

        <div class="input-group">
          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email" name="customer[email]" id="CustomerEmail"
            class="{% if form.errors contains 'email' %}input-error{% endif %}"
            placeholder="{{ 'customer.login.email' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off"
            autofocus>
        </div>

        <div class="input-group">
          {% if form.password_needed %}
          <label for="CustomerPassword" class="label-hidden">
            {{ 'customer.login.password' | t }}
          </label>
          <input type="password" name="customer[password]" id="CustomerPassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %}"
            placeholder="{{ 'customer.login.password' | t }}">
          {% endif %}
        </div>

        <div class="input-group">
          <input type="submit" class="button btn btn-primary" value="{{ 'customer.login.sign_in' | t }}">
        </div>

        {% if form.password_needed %}
        <div class="forgot-password">
          <a href="#recover" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
        </div>
        {% endif %}

        {% endform %}
      </div>

      <div class="hide" data-recover-form class="form-recover">
        <h1>{{ 'customer.recover_password.title' | t }}</h1>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
        <span class="hide" data-form-state></span>
        {% endif %}

        <div class="input-group">
          <label for="RecoverEmail" class="label-hidden">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <input type="email" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}"
            spellcheck="false" autocomplete="off" autocapitalize="off">
        </div>

        <div class="input-group group-row">
          <input type="submit" class="button btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
          <button type="button" class="button btn btn-default" data-recover-toggle>
            {{ 'customer.recover_password.cancel' | t }}
          </button>          
        </div>
        {% endform %}

      </div>

      {% if shop.checkout.guest_login %}
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
      <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
      {% endif %}

    </div>

  </div>

</div>