{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<section class="list-collections">
  <div class="container">
  <h1>{{ page_title }}</h1>
  <div class="content">
    <div class="aside">
      <ul>
        {% for collection in collections %}
          {% unless collection.handle == 'frontpage' %}
            <li><a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a></li>
          {% endunless %}
        {% endfor %} 
      </ul>
    </div>
    <div class="grid-collections">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          <div class="collection">
            <a href="{{ collection.url }}" class="collection-image" title="{{ 'collections.general.link_title' | t: title: title }}">
              {% if collection.image != blank or collection.products.first != blank %}
                {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
                {% comment %} {% include 'responsive-image' with image: image_object,image_class: "collection-image", max_width: 600x, max_height: 600x %} {% endcomment %}
                <img src="{{ image_object | img_url: '600x' }}" class="image" alt="{{ collection.image.alt | escape }}">
              {% else %}
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              {% endif %}
            </a>
            <div class="collection-title">
              <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a>
            </div>                      
          </div>
        {% endunless %}
      {% endfor %} 
    </div> 
  </div> 
</div>