<nav class="mobile-navigation" id="navigation" role="navigation">
    <div class="nav-holder">
        <ul class="nav-menu">
            {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
            <li>
                <a href="{{ link.url }}">{{ link.title }}{% include 'icon-arrow-down' %}</a>
                <ul>
                    {% for childlink in link.links %}
                    <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% comment %}
        Mobile sections contains:
        - Customer information
        - Search
        {% endcomment %}
        <div class="nav-footer">
            <a href="javascript:void(0);" class="item search-window-open" id="searchWindowHandle">
                {% include 'icon-search-header' %}
                <div class="label">Search</div>
            </a>
            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <a href="/account" class="item">
                    {% include 'icon-user' %}
                    <div class="label">My account</div>
                </a>
                {% else %}
                <a href="/account/login" class="item">
                    {% include 'icon-user' %}
                    <div class="label">{{ 'layout.customer.log_in' | t }}</div>
                </a>
                {% endif %}   
            {% endif %}
        </div>
    </div>
</nav>
<div class="overlay"></div>