<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">

  <!-- IMPORTANT -->
  <!-- Need remove before deploy on live -->
  <meta name="robots" content="noindex">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
  {% comment %} VUE 3 {% endcomment %}
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vuex@4.0.0-beta.4/dist/vuex.global.js"></script>
  {% comment %} VUE 3 {% endcomment %}
  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% render 'style-bundle', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}"  class="template-{{ template.name | handle }}">
  
  {% section 'cart' %}

  {% section 'header' %}

  <main role="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}

  {% render 'script-bundle', layout: 'theme' %}
  
</body>

</html>
